<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="search-input">Từ khoá</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khoá...">

            <select type="text" name="gender" >
                <option value="">--- Chọn giới tính ---</option>
                <option value="Male">Nam</option>
                <option value="Female">Nữ</option>
            </select>

        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>

